body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    transition: all 0.4s;
}

.btn-modern:hover {
    color: white;
    background-color: black;
    box-shadow: 0 0 10px red;
    transform: translateY(-5px);
}
